<div class="padding-global">
  {% if section.settings.product_produkt %}
    {% assign product = all_products[section.settings.product_produkt] %}
{% endif %}

    <div class="container-large">
    <div class="padding-section-large">
    <div class="w-layout-grid cta39_component shadow-medium">
    <div class="w-layout-grid cta39_card">
    <div class="cta39_card-content">
    <div class="cta39_card-content-top">
    <div class="margin-bottom margin-large">
    <h2>
{{ section.settings.text_heading }}
</h2>
    </div>
    </div>
<ul role="list" class="cta_list">
    <li class="cta-list_item">
{{ section.settings.text_bullet_1_text }}
</li>
<li class="cta-list_item">
{{ section.settings.text_bullet_2_text }}
</li>
<li class="cta-list_item">
{{ section.settings.text_bullet_3_text }}
</li>
<li class="cta-list_item">
{{ section.settings.text_bullet_4_text }}
</li>
    </ul>
<div class="margin-top margin-large">
    <div class="button-group hide-tablet">
    <a class="button w-button" href="#">
{{ section.settings.text_button_text_1 }}
</a>
<a class="button is-secondary w-button" href="{{ section.settings.url_button_link_2 }}"> {{ section.settings.text_button_text_2 }} </a>
    </div>
    </div>
<div class="price_component">
</div>
    </div>
<div class="cta39_image-price-container">
    <div class="cta39_image-wrapper">
    <img class="cta39_image"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
    </div>
<p class="cta_price-text">
    <span li-object:text="product.title" class="text-color-darkblue">
{{ product.title }}

        </span>
<span li-object:text="product.price | money" class="text-color-secondary">
{{ product.price | money }}

        </span>
    </p>
<div class="button-group show-tablet is-center">
    <a class="button w-button" href="#">
{{ section.settings.text_button_text_1 }}
</a>
<a class="button is-secondary w-button" href="{{ section.settings.url_button_link_2 }}"> {{ section.settings.text_button_text_2 }} </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"card_cta","class":"section_cta-kaufen","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Einfache Anwendung und hoher Schutz"},{"id":"text_bullet_1_text","type":"text","label":"Bullet-1-Text","default":"Einfache Anwendung und hoher Schutz"},{"id":"text_bullet_2_text","type":"text","label":"Bullet-2-Text","default":"100 % nat\u00fcrliche Inhaltsstoffe"},{"id":"text_bullet_3_text","type":"text","label":"Bullet-3-Text","default":"Medizinische Empfehlung f\u00fcr alle Altersklassen"},{"id":"text_bullet_4_text","type":"text","label":"Bullet-4-Text","default":"keine Versandkosten"},{"id":"text_button_text_1","type":"text","label":"Button-Text-1","default":"Zur Produktseite"},{"id":"url_button_link_2","type":"url","label":"Button-Link-2"},{"id":"text_button_text_2","type":"text","label":"Button-Text-2","default":"in den Warenkorb"},{"id":"product_produkt","type":"product","label":"Produkt"},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"card_cta","category":"Liquify"}]}
{% endschema %}
