<div class="padding-global">
   {% if section.settings.product_produkt %}
    {% assign product = all_products[section.settings.product_produkt] %}
{% endif %}
    <div class="container-large">
    <div class="padding-section-large">
    <div class="margin-bottom margin-medium">
    <div class="w-layout-grid cta1_component">
    <div class="cta1_content">
    <div class="margin-bottom margin-large">
    <h2>
{{ section.settings.text_heading }}
</h2>
    </div>
<ul role="list" class="cta_list">
    <li class="cta-list_item">
{{ section.settings.text_bullet_1_text }}
</li>
<li class="cta-list_item">
{{ section.settings.text_bullet_2_text }}
</li>
<li class="cta-list_item">
{{ section.settings.text_bullet_3_text }}
</li>
    </ul>
<div class="margin-top margin-large">
    <div class="button-group">
    <a class="button w-button" href="#">
{{ section.settings.text_button_text_1 }}
</a>
<a class="button is-secondary w-button" href="{{ section.settings.url_button_link_2 }}"> {{ section.settings.text_button_text_2 }} </a>
    </div>
    </div>
<div>
</div>
    </div>
<div class="cta1_image-wrapper is-transparent-image">
    <img class="cta1_image"
     src="{{ section.settings.image_card_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_image.alt }}"
     loading="lazy">
    </div>
    </div>
    </div>
<div class="fullsize-image_container">
    <img class="fullsize-image_image is-more-top"
     src="{{ section.settings.image_large_image | img_url: 'master' }}"
     alt="{{ section.settings.image_large_image.alt }}"
     loading="lazy">
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"dual_image_cta","class":"section_cta1","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Einfache Anwendung und hoher Schutz"},{"id":"text_bullet_1_text","type":"text","label":"Bullet-1-Text","default":"Nie wieder Probleme mit Wasser in den Ohren"},{"id":"text_bullet_2_text","type":"text","label":"Bullet-2-Text","default":"Ein Spr\u00fchsto\u00df in jedes Ohr bevor es nass wird"},{"id":"text_bullet_3_text","type":"text","label":"Bullet-3-Text","default":"Sicherer Schutz f\u00fcr 2 Stunden"},{"id":"text_button_text_1","type":"text","label":"Button-Text 1","default":"Jetzt kaufen"},{"id":"url_button_link_2","type":"url","label":"Button-Link-2"},{"id":"text_button_text_2","type":"text","label":"Button-Text-2","default":"Mehr erfahren"},{"id":"product_produkt","type":"product","label":"Produkt"},{"id":"image_card_image","type":"image_picker","label":"Card-Image"},{"id":"image_large_image","type":"image_picker","label":"Large-Image"}],"presets":[{"name":"dual_image_cta","category":"Liquify"}]}
{% endschema %}
