<div class="header107_component">
  {% if section.settings.product_produkt %}
    {% assign product = all_products[section.settings.product_produkt] %}
  {% endif %}
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-top padding-xhuge">
        <div class="header107_content-wrapper">
          <div class="max-width-large">
            <div class="margin-bottom margin-small">
              <h1>
                {{ section.settings.text_headline }}
              </h1>
              <h2 class="hero_subheading">
                {{ section.settings.text_subheadline }}
              </h2>
            </div>
            <p li-setting:richtext="Text" class="hero_paragraph">
              Mit Ear Pro können deine Kinder endlich sorglos planschen, tauchen und schwimmen, ohne sich Sorgen um
              lästige und schmerzhafte Ohrentzündungen machen zu müssen. Unser speziell entwickeltes Ohrenspray bildet
              einen Schutzfilm im Ohr, der Wasser abhält und gleichzeitig das Ohr befeuchtet.
            </p>
            <div class="margin-top margin-medium">
              <div class="button-group">
                <a class="button w-button" href="#">
                  {{ section.settings.text_button_text_1 }}
                </a>
                <a class="button is-secondary w-button" href="{{ section.settings.url_button_link_2 }}">
                  {{ section.settings.text_button_text_2 }}
                </a>
              </div>
            </div>
            <div class="price_component"></div>
          </div>
          <div id="w-node-_0b734030-fd25-828a-7a52-89c1972f9b07-6aeaa465" class="header107_image-container">
            <img
              src="{{ 'earpro-bottle2.webp' | asset_url }}"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 396.796875px, 496px"
              srcset="{{ 'earpro-bottle2-p-500.webp' | asset_url }} 500w, {{ 'earpro-bottle2-p-800.webp' | asset_url }} 800w, {{ 'earpro-bottle2-p-1080.webp' | asset_url }} 1080w, {{ 'earpro-bottle2.webp' | asset_url }} 1488w"
              alt=""
              class="header107_image"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header107_content-bottom">
    <div class="header107_image-list">
      <div id="w-node-acc6e4e8-3b6a-8929-926c-c5e50a259686-6aeaa465" class="header107_image-group-left">
        <div class="header107_image-wrapper is-image1">
          <img
            class="header107_image1"
            src="{{ section.settings.image_bild_1 | img_url: 'master' }}"
            alt="{{ section.settings.image_bild_1.alt }}"
            loading="lazy"
          >
        </div>
        <div id="w-node-acc6e4e8-3b6a-8929-926c-c5e50a259689-6aeaa465" class="header107_small-image-group">
          <div class="header107_image-wrapper is-image2">
            <img
              class="header107_image2"
              src="{{ section.settings.image_bild_2 | img_url: 'master' }}"
              alt="{{ section.settings.image_bild_2.alt }}"
              loading="lazy"
            >
          </div>
          <div class="header107_image-wrapper is-image3">
            <img
              class="header107_image3"
              src="{{ section.settings.image_bild_3 | img_url: 'master' }}"
              alt="{{ section.settings.image_bild_3.alt }}"
              loading="lazy"
            >
          </div>
        </div>
        <div class="header107_image-wrapper is-image4">
          <img
            class="header107_image4"
            src="{{ section.settings.image_bild_4 | img_url: 'master' }}"
            alt="{{ section.settings.image_bild_4.alt }}"
            loading="lazy"
          >
        </div>
      </div>
      <div class="header107_image-wrapper is-image5">
        <img
          class="header107_image5"
          src="{{ section.settings.image_bild_5 | img_url: 'master' }}"
          alt="{{ section.settings.image_bild_5.alt }}"
          loading="lazy"
        >
      </div>
      <div id="w-node-acc6e4e8-3b6a-8929-926c-c5e50a259692-6aeaa465" class="header107_image-group-right">
        <div class="header107_image-wrapper is-image6">
          <img
            class="header107_image6"
            src="{{ section.settings.image_bild_6 | img_url: 'master' }}"
            alt="{{ section.settings.image_bild_6.alt }}"
            loading="lazy"
          >
        </div>
      </div>
    </div>
  </div>
  <div class="header107_ix-trigger"></div>
</div>

{% schema %}
{"tag":"header","name":"hero","class":"section_header107","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Unbeschwert im Wasser."},{"id":"text_subheadline","type":"text","label":"Subheadline","default":"<span class=\"text-weight-bold text-style-italic\">\n    Ear Pro    <\/span>\nsch\u00fctzt vor wasserbedingten schmerzhaften Ohrenkrankheiten"},{"id":"text_button_text_1","type":"text","label":"Button-Text 1","default":"Jetzt kaufen"},{"id":"text_button_text_2","type":"text","label":"Button-Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button-Link 2"},{"id":"product_produkt","type":"product","label":"Produkt"},{"id":"image_bild_1","type":"image_picker","label":"Bild-1"},{"id":"image_bild_2","type":"image_picker","label":"Bild-2"},{"id":"image_bild_3","type":"image_picker","label":"Bild-3"},{"id":"image_bild_4","type":"image_picker","label":"Bild-4"},{"id":"image_bild_5","type":"image_picker","label":"Bild-5"},{"id":"image_bild_6","type":"image_picker","label":"Bild-6"}],"presets":[{"name":"hero","category":"Liquify"}]}
{% endschema %}
