<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-large">
    <div class="margin-bottom margin-large">
    <div class="text-align-center">
    <h2>
{{ section.settings.text_heading }}
</h2>
<p class="h2_subheadline">
{{ section.settings.text_subheading }}
</p>
    </div>
    </div>
<div class="must-have_card-container">
    <div id="w-node-addbca6a-7236-9efd-db20-1e5a4b0c6a2d-6aeaa465" data-w-id="addbca6a-7236-9efd-db20-1e5a4b0c6a2d" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_1_title }}
</h3>
<p class="text-align-center show-tablet">
{{ section.settings.text_card_1_text }}
</p>
    </div>
<div class="must-have_card-overlay hide-tablet">
    <div class="max-width-small">
    <div class="text-align-center hide-tablet"> {{ section.settings.richtext_card_1_text }} </div>
    </div>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_1_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_1_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-bac6ab7e-1d88-9263-2e38-a4bebcd46896-6aeaa465" data-w-id="bac6ab7e-1d88-9263-2e38-a4bebcd46896" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_2_title }}
</h3>
<p class="text-align-center show-tablet">
{{ section.settings.text_card_2_text }}
</p>
    </div>
<div class="must-have_card-overlay hide-tablet">
    <div class="text-align-center hide-tablet"> {{ section.settings.richtext_card_2_text }} </div>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_2_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_2_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-_0a4732f0-5792-fc9a-76ca-ebe9d8f1a8e1-6aeaa465" data-w-id="0a4732f0-5792-fc9a-76ca-ebe9d8f1a8e1" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_3_title }}
</h3>
<p class="text-align-center show-tablet">
{{ section.settings.text_card_3_text }}
</p>
    </div>
<div class="must-have_card-overlay hide-tablet">
    <div class="text-align-center hide-tablet"> {{ section.settings.richtext_card_3_text }} </div>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_3_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_3_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-_7fee768f-a125-543e-9742-fc6d117b91c6-6aeaa465" data-w-id="7fee768f-a125-543e-9742-fc6d117b91c6" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_4_title }}
</h3>
<p class="text-align-center show-tablet">
{{ section.settings.text_card_4_text }}
</p>
    </div>
<div class="must-have_card-overlay hide-tablet">
    <div class="text-align-center hide-tablet"> {{ section.settings.richtext_card_4_text }} </div>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_4_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_4_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-b1c6a635-630b-1de6-7e10-81e63b14b104-6aeaa465" data-w-id="b1c6a635-630b-1de6-7e10-81e63b14b104" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_5_title }}
</h3>
<p class="text-align-center show-tablet">
{{ section.settings.text_card_5_text }}
</p>
    </div>
<div class="must-have_card-overlay hide-tablet">
    <div class="text-align-center hide-tablet"> {{ section.settings.richtext_card_5_text }} </div>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_5_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_5_image.alt }}"
     loading="lazy">
    </div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"hover_cards","class":"section_must-have","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Ein Muss f\u00fcr alle Wasserbegeisterten"},{"id":"text_subheading","type":"text","label":"Subheading","default":"EarPro sch\u00fctzt deine Ohren vor Infektionen und sichert dein H\u00f6rverm\u00f6gen"},{"id":"text_card_1_title","type":"text","label":"Card-1-Title","default":"Kinder & Familie"},{"id":"text_card_1_text","type":"text","label":"Card-1-Text","default":"Viele Kinder leiden unter wasserbedingten Ohrenproblemen. Ohrst\u00f6psel sind oft unbequem und \"uncool\". Ear Pro ist die nat\u00fcrliche, unsichtbare L\u00f6sung, die die H\u00f6rf\u00e4higkeit deines Kindes nicht beeintr\u00e4chtigt."},{"id":"richtext_card_1_text","type":"richtext","label":"Card-1-Text","default":"<p>Viele Kinder leiden unter wasserbedingten Ohrenproblemen. Ohrst\u00f6psel sind oft unbequem und \"uncool\". Ear Pro ist die nat\u00fcrliche, unsichtbare L\u00f6sung, die die H\u00f6rf\u00e4higkeit deines Kindes nicht beeintr\u00e4chtigt.<\/p>"},{"id":"image_card_1_image","type":"image_picker","label":"Card-1-Image"},{"id":"text_card_2_title","type":"text","label":"Card-2-Title","default":"Wasseraktivit\u00e4ten"},{"id":"text_card_2_text","type":"text","label":"Card-2-Text","default":"Ob beim Surfen, Paddeln, Kajakfahren, Bootfahren, Schnorcheln oder jeder anderen Wasseraktivit\u00e4t - immer wenn dein Kopf nass wird, riskierst du Ohrenprobleme. Warum das Risiko eingehen? Nutz Ear Pro, sogar unter der Dusche."},{"id":"richtext_card_2_text","type":"richtext","label":"Card-2-Text","default":"<p>Ob beim Surfen, Paddeln, Kajakfahren, Bootfahren, Schnorcheln oder jeder anderen Wasseraktivit\u00e4t - immer wenn dein Kopf nass wird, riskierst du Ohrenprobleme. Warum das Risiko eingehen? Nutz Ear Pro, sogar unter der Dusche.<\/p>"},{"id":"image_card_2_image","type":"image_picker","label":"Card-2-Image"},{"id":"text_card_3_title","type":"text","label":"Card-3-Title","default":"Schwimmen"},{"id":"text_card_3_text","type":"text","label":"Card-3-Text","default":"Schwimm ohne Angst vor eingeschlossenem Wasser oder Ohrenproblemen. Ein Spr\u00fchsto\u00df Ear Pro vor dem Schwimmen und du musst nie aus dem Wasser bleiben. So einfach ist das."},{"id":"richtext_card_3_text","type":"richtext","label":"Card-3-Text","default":"<p>Schwimm ohne Angst vor eingeschlossenem Wasser oder Ohrenproblemen. Ein Spr\u00fchsto\u00df Ear Pro vor dem Schwimmen und du musst nie aus dem Wasser bleiben. So einfach ist das.<\/p>"},{"id":"image_card_3_image","type":"image_picker","label":"Card-3-Image"},{"id":"text_card_4_title","type":"text","label":"Card-4-Title","default":"Surfen"},{"id":"text_card_4_text","type":"text","label":"Card-4-Text","default":"H\u00f6r nat\u00fcrlich und verlass dich auf Ear Pro, statt teure Ohrst\u00f6psel zu verlieren, wenn du \u00fcberrollt wirst. Mit Ear Pro kannst du das Surfen genie\u00dfen und es h\u00e4lt problemlos eine zweist\u00fcndige Session durch."},{"id":"richtext_card_4_text","type":"richtext","label":"Card-4-Text","default":"<p>H\u00f6r nat\u00fcrlich und verlass dich auf Ear Pro, statt teure Ohrst\u00f6psel zu verlieren, wenn du \u00fcberrollt wirst. Mit Ear Pro kannst du das Surfen genie\u00dfen und es h\u00e4lt problemlos eine zweist\u00fcndige Sitzung durch.<\/p>"},{"id":"image_card_4_image","type":"image_picker","label":"Card-4-Image"},{"id":"text_card_5_title","type":"text","label":"Card-5-Title","default":"Tauchen"},{"id":"text_card_5_text","type":"text","label":"Card-5-Text","default":"Sch\u00fctz deine Ohren, ohne den Klang zu beeintr\u00e4chtigen. Oft f\u00fchren lange und wiederholte Tauchg\u00e4nge, besonders in warmem Wasser, zu Ohrenproblemen. Mit Ear Pro verpasst du keinen Tauchgang."},{"id":"richtext_card_5_text","type":"richtext","label":"Card-5-Text","default":"<p>Sch\u00fctz deine Ohren, ohne den Klang zu beeintr\u00e4chtigen. Oft f\u00fchren lange und wiederholte Tauchg\u00e4nge, besonders in warmem Wasser, zu Ohrenproblemen. Mit Ear Pro verpasst du keinen Tauchgang.<\/p>"},{"id":"image_card_5_image","type":"image_picker","label":"Card-5-Image"}],"presets":[{"name":"hover_cards","category":"Liquify"}]}
{% endschema %}
