<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-large">
    <div class="margin-bottom margin-large">
    <div class="text-align-center">
    <h2>
{{ section.settings.text_heading }}
</h2>
<p class="h2_subheadline">
{{ section.settings.text_subheading }}
</p>
    </div>
    </div>
<div class="must-have_card-container">
    <div id="w-node-addbca6a-7236-9efd-db20-1e5a4b0c6a2d-6aeaa465" data-w-id="addbca6a-7236-9efd-db20-1e5a4b0c6a2d" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_1_title }}
</h3>
    </div>
<div data-w-id="addbca6a-7236-9efd-db20-1e5a4b0c6a2e" class="must-have_card-overlay">
    <div class="max-width-small">
    <p class="text-align-center">
{{ section.settings.text_card_1_text }}
</p>
    </div>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_1_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_1_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-bac6ab7e-1d88-9263-2e38-a4bebcd46896-6aeaa465" data-w-id="bac6ab7e-1d88-9263-2e38-a4bebcd46896" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_2_title }}
</h3>
    </div>
<div data-w-id="bac6ab7e-1d88-9263-2e38-a4bebcd46897" class="must-have_card-overlay">
    <p class="text-align-center">
{{ section.settings.text_card_2_text }}
</p>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_2_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_2_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-_0a4732f0-5792-fc9a-76ca-ebe9d8f1a8e1-6aeaa465" data-w-id="0a4732f0-5792-fc9a-76ca-ebe9d8f1a8e1" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_3_title }}
</h3>
    </div>
<div data-w-id="0a4732f0-5792-fc9a-76ca-ebe9d8f1a8e2" class="must-have_card-overlay">
    <p class="text-align-center">
{{ section.settings.text_card_3_text }}
</p>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_3_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_3_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-_7fee768f-a125-543e-9742-fc6d117b91c6-6aeaa465" data-w-id="7fee768f-a125-543e-9742-fc6d117b91c6" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_4_title }}
</h3>
    </div>
<div data-w-id="7fee768f-a125-543e-9742-fc6d117b91c7" class="must-have_card-overlay">
    <p class="text-align-center">
{{ section.settings.text_card_4_text }}
</p>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_4_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_4_image.alt }}"
     loading="lazy">
    </div>
<div id="w-node-b1c6a635-630b-1de6-7e10-81e63b14b104-6aeaa465" data-w-id="b1c6a635-630b-1de6-7e10-81e63b14b104" class="must-have_card shadow-medium">
    <div class="must-have_card-title-wrapper">
    <h3 class="text-size-medium">
{{ section.settings.text_card_5_title }}
</h3>
    </div>
<div data-w-id="0e21107f-491b-d3fe-3d86-9715386c68bb" class="must-have_card-overlay">
    <p class="text-align-center">
{{ section.settings.text_card_5_text }}
</p>
    </div>
<img class="must-have_card-image"
     src="{{ section.settings.image_card_5_image | img_url: 'master' }}"
     alt="{{ section.settings.image_card_5_image.alt }}"
     loading="lazy">
    </div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"hover_cards","class":"section_must-have","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Ein Muss f\u00fcr alle Wasserbegeisterten"},{"id":"text_subheading","type":"text","label":"Subheading","default":"EarPro sch\u00fctzt deine Ohren vor Infektionen und sichert dein H\u00f6rverm\u00f6gen"},{"id":"text_card_1_title","type":"text","label":"Card-1-Title","default":"Kinder & Familie"},{"id":"text_card_1_text","type":"text","label":"Card-1-Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."},{"id":"image_card_1_image","type":"image_picker","label":"Card-1-Image"},{"id":"text_card_2_title","type":"text","label":"Card-2-Title","default":"Wasseraktivit\u00e4ten"},{"id":"text_card_2_text","type":"text","label":"Card-2-Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."},{"id":"image_card_2_image","type":"image_picker","label":"Card-2-Image"},{"id":"text_card_3_title","type":"text","label":"Card-3-Title","default":"Schwimmen"},{"id":"text_card_3_text","type":"text","label":"Card-3-Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."},{"id":"image_card_3_image","type":"image_picker","label":"Card-3-Image"},{"id":"text_card_4_title","type":"text","label":"Card-4-Title","default":"Surfen"},{"id":"text_card_4_text","type":"text","label":"Card-4-Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."},{"id":"image_card_4_image","type":"image_picker","label":"Card-4-Image"},{"id":"text_card_5_title","type":"text","label":"Card-5-Title","default":"Tauchen"},{"id":"text_card_5_text","type":"text","label":"Card-5-Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."},{"id":"image_card_5_image","type":"image_picker","label":"Card-5-Image"}],"presets":[{"name":"hover_cards","category":"Liquify"}]}
{% endschema %}
