<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-large">
    <div class="margin-bottom margin-large">
    <div class="text-align-center">
    <h2>
{{ section.settings.text_heading }}
</h2>
<p class="h2_subheadline">
{{ section.settings.text_subheading }}
</p>
    </div>
    </div>
<div class="formel-usp_component">
    <div id="w-node-_2f365eb6-ca8c-da9d-b378-995e311a0ef7-6aeaa465" class="formel-usp_item-wrapper">
    <div class="formel-usp_icon-wrapper">
    <img class="formel-usp_icon-img"
     src="{{ section.settings.image_icon_1 | img_url: 'master' }}"
     alt="{{ section.settings.image_icon_1.alt }}"
     loading="lazy">
    </div>
<div class="margin-top margin-small">
    <div class="text-align-center">
    <p class="text-size-medium text-color-secondary text-weight-semibold">
{{ section.settings.text_icon_1_title }}
</p>
    </div>
    </div>
    </div>
<div id="w-node-_58b7bfa2-5586-12bb-ae53-7ebbc035e70c-6aeaa465" class="formel-usp_item-wrapper">
    <div class="formel-usp_icon-wrapper">
    <img class="formel-usp_icon-img"
     src="{{ section.settings.image_icon_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_icon_2.alt }}"
     loading="lazy">
    </div>
<div class="margin-top margin-small">
    <div class="text-align-center">
    <p class="text-size-medium text-color-secondary text-weight-semibold">
{{ section.settings.text_icon_2_title }}
</p>
    </div>
    </div>
    </div>
<div id="w-node-fcdb24d9-72dc-2ee7-3def-10112dee3005-6aeaa465" class="formel-usp_item-wrapper">
    <div class="formel-usp_icon-wrapper">
    <img class="formel-usp_icon-img"
     src="{{ section.settings.image_icon_3 | img_url: 'master' }}"
     alt="{{ section.settings.image_icon_3.alt }}"
     loading="lazy">
    </div>
<div class="margin-top margin-small">
    <div class="text-align-center">
    <p class="text-size-medium text-color-secondary text-weight-semibold">
{{ section.settings.text_icon_3_title }}
</p>
    </div>
    </div>
    </div>
<div id="w-node-_9a6c41e8-375b-7c13-16ab-21639173c8c6-6aeaa465" class="formel-usp_item-wrapper">
    <div class="formel-usp_icon-wrapper">
    <img class="formel-usp_icon-img"
     src="{{ section.settings.image_icon_4 | img_url: 'master' }}"
     alt="{{ section.settings.image_icon_4.alt }}"
     loading="lazy">
    </div>
<div class="margin-top margin-small">
    <div class="text-align-center">
    <p class="text-size-medium text-color-secondary text-weight-semibold">
{{ section.settings.text_icon_4_title }}
</p>
    </div>
    </div>
    </div>
<div id="w-node-_1bf53b07-d602-0d17-defb-f04e42b93538-6aeaa465" class="formel-usp_item-wrapper">
    <div class="formel-usp_icon-wrapper">
    <img class="formel-usp_icon-img"
     src="{{ section.settings.image_icon_5 | img_url: 'master' }}"
     alt="{{ section.settings.image_icon_5.alt }}"
     loading="lazy">
    </div>
<div class="margin-top margin-small">
    <div class="text-align-center">
    <p class="text-size-medium text-color-secondary text-weight-semibold">
{{ section.settings.text_icon_5_title }}
</p>
    </div>
    </div>
    </div>
    </div>
<div class="margin-top margin-xlarge">
    <div class="text-align-center">
    <a class="button is-secondary w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"icon_cta","class":"section_patentierte-formel","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Patentierte Formel aus nat\u00fcrlichen \u00d6len"},{"id":"text_subheading","type":"text","label":"Subheading","default":"EarPro \u00fcberzieht den Geh\u00f6rgang mit einer wasserabweisenden Schicht"},{"id":"image_icon_1","type":"image_picker","label":"Icon-1"},{"id":"text_icon_1_title","type":"text","label":"Icon-1-Title","default":"F\u00fcr alle Altersklassen"},{"id":"image_icon_2","type":"image_picker","label":"Icon-2"},{"id":"text_icon_2_title","type":"text","label":"Icon-2-Title","default":"Von \u00c4rzten empfohlen"},{"id":"image_icon_3","type":"image_picker","label":"Icon-3"},{"id":"text_icon_3_title","type":"text","label":"Icon-3-Title","default":"Nat\u00fcrlich und ohne Giftstoffe"},{"id":"image_icon_4","type":"image_picker","label":"Icon-4"},{"id":"text_icon_4_title","type":"text","label":"Icon-4-Title","default":"0% Alkohol"},{"id":"image_icon_5","type":"image_picker","label":"Icon-5"},{"id":"text_icon_5_title","type":"text","label":"Icon-5-Title","default":"Riff- und Umweltfreundlich"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Mehr \u00fcber die Inhaltsstoffe"}],"presets":[{"name":"icon_cta","category":"Liquify"}]}
{% endschema %}
