<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-large padding-top">
    <div class="overlapping-hand_component">
    <div id="w-node-_8208ad1f-d345-5dd5-0d3e-190e8ae3f03d-edfe4541" class="max-width-large">
    <div id="w-node-_9b0b474f-8d40-b63f-7b7f-deacb9260b87-edfe4541" class="overlapping-hand_card">
    <div class="margin-bottom margin-small">
    <h2 class="heading-style-h3 text-weight-xbold">
{{ section.settings.text_uberschrift }}
</h2>
    </div>
<div> {{ section.settings.richtext_text }} </div>
    </div>
    </div>
<div id="w-node-_85d57af8-522e-2cdb-5c70-d682baa28f99-edfe4541" class="overlapping-image_image-container">
    <img src="{{ 'earpro-on-hand.webp' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 55vw, (max-width: 3742px) 50vw, 1871px" srcset="{{ 'earpro-on-hand-p-500.webp' | asset_url }} 500w, {{ 'earpro-on-hand-p-800.webp' | asset_url }} 800w, {{ 'earpro-on-hand-p-1080.webp' | asset_url }} 1080w, {{ 'earpro-on-hand-p-1600.webp' | asset_url }} 1600w, {{ 'earpro-on-hand.webp' | asset_url }} 1871w" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"ueberlappende_hand","class":"section_thats-earpro","settings":[{"id":"text_uberschrift","type":"text","label":"\u00dcberschrift","default":"Das ist Ear Pro"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Eine harmonische Mischung aus zwei leistungsstarken Inhaltsstoffen: Medizinisches Mineral\u00f6l und hochwertiges Bio-Oregano-\u00d6l. Diese Mischung bek\u00e4mpft nicht nur h\u00e4ufige Ohrenprobleme, die durch Wassereinwirkung entstehen, sondern dient auch als nat\u00fcrliche Vorbeugungsma\u00dfnahme.<\/p>"}],"presets":[{"name":"ueberlappende_hand","category":"Liquify"}]}
{% endschema %}
